sneakers.log
.bundle
deploy/_outputs/
db/*.sqlite3
db/mongo
db/.DS_Store
deploy/_outputs/
deploy/_output/
public/uploads
public/assets
public/ast
public/multiple_upload
public/bilna
public/system*
public/sitemap*
public/stylesheets/compiled
public/javascripts/compiled
public/products
solr/data/
solr/pids/
solr/
log/
tmp/
*.swp
*.swo
.sass-cache/
.bundle
.rvmrc
dump.rdb
.rbenv-gemsets
.~lock*
.DS_Store
public/.DS_Store
custom_plan.rb
zeus.json
libpeerconnection.log
coverage/
scratchpad/
.env
.fuse_hidden*
#*
*#
.#*
*~
~*
*.*~
.env*
*.#*
routes.txt
.project
.idea/
.projectile
.byebug_history
*.sublime-project
*.sublime-workspace
.tags
.tags1
coverage