// ====================
// whitespaces utilities
// ====================

// use these utility classes to add space between regions;
.#{$global-utility-namespace} {

  &mrgn-auto {
    margin: auto;
  }

  //scss-lint:disable ImportantRule
  &mrgn-h--auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  @for $idx from 0 through $global-desktop-spacing-levels {
    &mrgn--#{$idx} {
      @include m-margin($idx, null, "!important");
    }

    &pad--#{$idx} {
      @include m-padding($idx, null, "!important");
    }
  }

  @for $idx from 0 through $global-desktop-spacing-levels {
    &mrgn- {
      &h--#{$idx} {
        @include m-margin($idx, "left", "!important");
        @include m-margin($idx, "right", "!important");
      }

      &v--#{$idx} {
        @include m-margin($idx, "top", "!important");
        @include m-margin($idx, "bottom", "!important");
      }
    }

    &pad- {
      &h--#{$idx} {
        @include m-padding($idx, "left", "!important");
        @include m-padding($idx, "right", "!important");
      }

      &v--#{$idx} {
        @include m-padding($idx, "top", "!important");
        @include m-padding($idx, "bottom", "!important");
      }
    }
  }

  @for $idx from 0 through $global-desktop-spacing-levels {
    &mrgn- {
      &top- {
        &-#{$idx} {
          @include m-margin($idx, "top", "!important");
        }

        &rev--#{$idx} {
          @include m-margin(-$idx, "top", "!important");
        }
      }

      &bottom- {
        &-#{$idx} {
          @include m-margin($idx, "bottom", "!important");
        }

        &rev--#{$idx} {
          @include m-margin(-$idx, "bottom", "!important");
        }
      }

      &left- {
        &-#{$idx} {
          @include m-margin($idx, "left", "!important");
        }

        &rev--#{$idx} {
          @include m-margin(-$idx, "left", "!important");
        }
      }

      &right- {
        &-#{$idx} {
          @include m-margin($idx, "right", "!important");
        }

        &rev--#{$idx} {
          @include m-margin(-$idx, "right", "!important");
        }
      }
    }

    &pad- {
      &top--#{$idx} {
        @include m-padding($idx, "top", "!important");
      }

      &bottom--#{$idx} {
        @include m-padding($idx, "bottom", "!important");
      }

      &left--#{$idx} {
        @include m-padding($idx, "left", "!important");
      }

      &right--#{$idx} {
        @include m-padding($idx, "right", "!important");
      }
    }
  }
}
